.choices {
  width: 100%;
}

.choices__inner {
  padding: 6px 16px;
  min-height: 32px;
  background-color: #fff;
  border: none;

  position: relative;
}

.choices__list--single {
  padding: 0;
}

.choices[data-type*=select-one]::after {
  margin-top: 0;
  width: 20px;
  height: 20px;
  top: 6px;
  right: 16px;
  background-image: url('../images/arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
}

.choices[data-type*=select-one].is-open::after {
  transform: rotate(180deg);
  margin-top: 0;
}