.vacancy {
  padding: 16px;
  border-radius: 16px;
  background-color: #ffffff;
  height: 100%;
  cursor: pointer;
}

.vacancy__img {
  max-height: 44px;
  margin-bottom: 12px;
  display: block;
}

.vacancy__company {
  margin-bottom: 8px;
  font-size: 20px;
}

.vacancy__title {
  display: inline-block;
  margin-bottom: 8px;
  padding: 3px 5px;
  border-radius: 4px;
  background-color: #EAECFF;
  font-size: 14px;
  font-weight: 400;
}

.vacancy__field {
  color: #ccc;
}